button#start,
button#pause,
button#stop {
  margin-top: 2rem;
  font-size: 1rem;
  border: 0.5rem solid transparent;
  border-radius: 0.3rem;
  color: #EEEEEE;
  background-color: #B1740F;
  cursor: pointer;
  letter-spacing: 0;
  font-family: "Dia", Arial, serif;
  letter-spacing: 0.1rem;
}

button#start:disabled,
button#pause:disabled,
button#stop:disabled {
  background-color: #FFFFFF;
  cursor: auto;
  color: #330F0A;
  box-shadow: 0 10px 20px -8px #000000b3;
  transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}


h1#counter {
  display: flex;
  flex-direction: row;   
  align-items: center;
  justify-content: center;
  color: 330F0A;
  font-family: "Dia", Arial, serif;
  padding: 3rem;
  margin-bottom: -3rem;
  font-size: 3rem;
}

.timesheet-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.progress-button {
  margin-top: 2rem;
  font-size: 1rem;
  border: 0.1rem solid #ffffff07;
  border-radius: 0.8rem;
  background-color: #B1740F;
  cursor: pointer;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 10px 20px -8px #000000b3;
  transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}


.timesheet-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  #dashboard {
    color: #fcfafa;
  }
  
  #dashboard:disabled {
    background-color: #FFFFFF; 
    color: #330F0A; 
    cursor: not-allowed;
  } 